
@{
    ViewBag.Title = "AddCar";
}

<h2>AddCar</h2>
<div>
    <h3>Форма добавления машины</h3>
    <form method="post">
        <table>
            <tr>
                <td><p>carID</p></td>
                <td><input type="text" name="carID" /></td>
            </tr>
            <tr>
                <td><p>mark</p></td>
                <td><input type="text" name="mark" /></td>
            </tr>
            <tr>
                <td><p>model</p></td>
                <td><input type="text" name="model" /></td>
            </tr>
            <tr>
                <td><p>category</p></td>
                <td><input type="text" name="category" /></td>
            </tr>
            <tr>
                <td><p>price</p></td>
                <td><input type="text" name="price" /></td>
            </tr>
            <tr>
                <td><p>horsePower</p></td>
                <td><input type="text" name="horsePower" /></td>
            </tr>

            <tr><td><input type="submit" value="sent" /><td /><td></td></tr>
        </table>
    </form>
</div>